.container-all {
    height: 100vh;
    min-height: 500px;
    display: flex;
}

.container-all .list-rooms {
    flex: 0 0 15%;
    border-right: #ececec 1px solid;
    overflow-y: scroll;
}

.container-all .list-rooms .room-content {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease;
}

.container-all .list-rooms .room-content:hover,
.container-all .list-rooms .room-content.selected{
    background-color: #f3f3f3;
}

.container-all .list-rooms .room-content .col-img {
    padding-right: 10px;
}

.container-all .list-rooms .room-content .col-img img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.container-all .list-rooms .room-content .col-right {
    flex: auto;
}

.container-all .list-rooms .room-content .col-right .title-room {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}

.container-all .list-rooms .room-content .col-right .date {
    margin-bottom: 0;
    font-size: 14px;
    color: #9c9c9c;
}

.container-all .conversation {
    flex: 0 0 70%;
    position: relative;
}

.container-all .conversation #messages {
    overflow-y: scroll;
    margin-bottom: 0;
    max-height: calc(100% - 60px);
}

.container-all .conversation form {
    position: absolute;
    background-color: white;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

.container-all .conversation form .btn {
    white-space: nowrap;
}

.container-all .list-users {
    flex: 0 0 15%;
    border-left: #ececec 1px solid;
    overflow-y: scroll;
}

.container-all .list-users .user-content {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease;
}

.container-all .list-users .user-content:hover {
    background-color: #eaeaea;
}

.container-all .list-users .user-content .col-img {
    padding-right: 10px;
}

.container-all .list-users .user-content .col-img img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
}

.container-all .list-users .user-content .col-right {
    flex: auto;
}

.container-all .list-users .user-content .col-right .user-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}